* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cont–∞iner {
    display:flex;
    align-items: center;
    flex-direction:column;
    gap:20px;
    width: 100vw;
    height: 100vh;
}
header {
    display:flex; 
    align-items: center; 
    justify-content: center;
    padding: 10px 0; 
    width: 100%;  
    height: 10%;  
    color:white;  
    background-color: black;  
}
.header__container {
    width: 80%;    
}   
main {
    display:flex;    
    flex-direction: column;
    gap:10px;
    align-items: center;    
    width:100%; 
    height:max-content;     
}
.generator {     
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-top: 30px;     
}
.generator__container {
    display:flex;
    flex-direction:column;
    gap:30px;
    width: inherit;
    padding:20px;
}
.container_title {
}
.container__choice {
    display:flex;
    flex-direction:column;
    gap:30px;
}

.container__select {
    width:100%;
    height:40px;
    border-radius: 5px;
}
.generator__button {
    align-self: center;
}
.button_style {
    width:150px;
    height:50px;
    border-radius: 10px;
    background-color: blue;
    color:white;
}
.movies {
    width:60%;
}
.movies__container {
    
}
.container_list {
    display:grid;    
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-template-rows:max-content;
    gap:10px 10px;
}
.list-movie {
    display:flex;
    flex-direction: column;
    gap:10px;
    width:100%;    
}
.img-style {
    object-fit: cover;
    width:100%;
}
